* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: rgb(228, 228, 228);;
}

.header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.boxsha {
  box-shadow: 0px 1px 5px rgb(160, 160, 160);
}

.headerleft {
  font-size: 35px;
  padding-top: 20px;
  padding-left: 25px;
  display: flex;
  gap: 15px;
}
.headerright {
  font-size: 35px;
  padding-top: 20px;
  padding-right: 25px;
  display: flex;
  gap: 15px;
}

.btb {
  display: block;
  background-color: royalblue;
  padding: 7px 15px 5px 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.btb:hover {
  background-color: white;
  color: rgb(255, 255, 255);
  border: 1px solid royalblue;
  transition: 0.5s;

}
.bb{
  color: white;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
}
.page{
  color: royalblue;
}
.header a:hover{
    color: royalblue;
    transition: 0.5s;
}
.header:hover {
  color: royalblue;
  transition: 0.2s;
  font-size: 40px;
  position: relative;
  transition-delay: 1s;
}
.aside{
    width: 90px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ; 
}
.side{
  display: flex;
}

.aside:hover{
    width: 250px;
    height: 650px;
    background-color: rgb(236, 236, 236);
    padding-right: 5px;
}
.fontsize{
    font-size: 65px;
}
.font {
    font-size: 20px;
}
.side {
  padding-top: 10px;
}
.container{
  display: flex;
}
.nav{
    display:flex;
    
}
.nav1 {
    display: flex;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;

}
.nav1:hover{
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
}
.nav1 :hover{
    color: royalblue;
}
.footer{
  text-align: center;
  background-color: rgb(225, 225, 225);
  font-weight: bold;
  padding: 15px;
  border-radius: 35px 35px 0px 0px;
}
.drd{
  background-color: rgb(255, 255, 255);
  width: 210px;
  height: 260px;
  display: none;
  position:absolute;
  margin-left: 220px;
  margin-top: 0px;
  border-radius: 10px;
  padding-top: 15px;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav1:hover .drd{
  display: block;
  color: rgb(0, 0, 0);
  
}
.sidetxt{
  display: none;
  padding-top: 15px;
  margin-left: 10px;
  
}
.aside:hover .sidetxt{
  display: block;
  
}
.drd a{
    font-size: 20px;
    padding-bottom: 10px;
    display: flex;
}

.element{
  padding-right: 5px;
  padding-top: 3px;
}
.listbg{
  display: block;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
}
.listbg :hover{
  background-color: rgb(241, 241, 241);
  font-weight: bold;
}
.crateproduct{
    margin-left: 55px;
    margin-top: 15px;
}
.box1{
  width: 1350px;
  height: 500px;
  margin-top: 30px;
  margin-left: 55px;
  background-color: white;
}
.boxr{
  width: 800px;
  height: 450px;
  background-color: white;
  margin-left: 35px;
  border-radius: 20px;

}
.boxl h2{
  margin-left: 15px;
  margin-top: 15px;
  color: royalblue;
  display: flex;
  width: 50px;
  text-decoration: underline;

}

  
}
button{
  padding-top: 85px;
  width: 25px;
  height: 5px;
  background-color: royalblue;
  display: flex;
}


  .top{
    width: 100%;
    height: 75pxpx;
    font-size: 45px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
  }
.topleft{
  color: white;
  display: flex;
  gap: 25px;

}
.top input{
  width: 200px;
  height: 40px;
  margin-top: 2px;
  border: 1px solid rgb(208, 208, 208);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left: 15px;
  border-radius: 15px;
  display: flex;
}
.topright{
  display: flex;
  
}
img{
  width:55px;
  height: 60px;
}
.fn{
  display: flex;
  
  justify-content: space-around;
  border: 3px solid royalblue;
  height: 45  px;
  width: 90px;
  border-radius: 5px;
  font-size: 22px;
  text-align: center;
  padding: 4px;
  color: royalblue;
  margin-left: 5px;
  
}
.filter:hover{
  background-color: royalblue;
  color: white;
  transition: 0.2s;
}
.pdf{
  border: 3px solid #00D100 ;
  color: #00D100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pdf:hover{
  background-color: #00D100;
  color: white;
  transition: 0.2s;
}
.excel{
  border: 3px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.lsit{
  text-align: center;
  background-color: red   ;
}
.excel:hover{
  background-color: red;
  color: white;
  
}
.import{
  width: 205px;
  color: white;
  border: 3px solid royalblue;
  background-color: royalblue;
  
}
.import:hover{
  color: royalblue;
  background-color: transparent;
  transition: 0.5s;
}
.create{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: rgb(255, 170, 0);
  border: 3px solid rgb(255, 170, 0);
  color: white;
}
.create:hover{
  border: 3px solid rgb(255, 170, 0);
  color: rgb(255, 170, 0);
  transition: 0.5s;
  background-color: transparent; 
}
.list{
  margin-left:0px;
  text-align: center;
}
th{
  width: 110px;
  padding-bottom: 15px;
}
td{
  height: 80px;
}
input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    width: 20px;
    height: 20px;
    color: white;
    background-color: royalblue;
}
.action{
  font-size: 20px;
  color: royalblue;
}

.number{
  width: 90px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid black;
}
img:hover{
  width: 60px;
  height: 70px;
  transition: 0.5s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
tr{
  border: 1px solid gray;
}
th{
  background-color: rgb(231, 231, 231);
  padding-top: 15px;
}