* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: rgb(228, 228, 228);;
}

.header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.boxsha {
  box-shadow: 0px 1px 5px rgb(160, 160, 160);
}
.headerleft {
  font-size: 35px;
  padding-top: 20px;
  padding-left: 25px;
  display: flex;
  gap: 15px;
}
.headerright {
  font-size: 35px;
  padding-top: 20px;
  padding-right: 25px;
  display: flex;
  gap: 15px;
}
.btb {
  display: block;
  background-color: royalblue;
  padding: 7px 15px 5px 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.btb:hover {
  background-color: white;
  color: rgb(255, 255, 255);
  border: 1px solid royalblue;
  transition: 0.5s;

}
.page{
  color: royalblue;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
}
.header a:hover{
    color: royalblue;
    transition: 0.5s;
}
.header:hover {
  color: royalblue;
  transition: 0.2s;
  font-size: 40px;
  position: relative;
  transition-delay: 1s;
}
.aside{
    width: 90px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ; 
}
.side{
  display: flex;
}

.aside:hover{
    width: 250px;
    height: 650px;
    background-color: rgb(236, 236, 236);
    padding-right: 5px;
}
.fontsize{
    font-size: 65px;
}
.font {
    font-size: 20px;
}
.side {
  padding-top: 10px;
}
.container{
  display: flex;
}
.nav{
    display:flex;
    
}
.nav1 {
    display: flex;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;

}
.nav1:hover{
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
}
.nav1 :hover{
    color: royalblue;
}
.footer{
  text-align: center;
  background-color: rgb(225, 225, 225);
  font-weight: bold;
  padding: 15px;
  border-radius: 35px 35px 0px 0px;
}
.drd{
  background-color: rgb(255, 255, 255);
  width: 210px;
  height: 260px;
  display: none;
  position:absolute;
  margin-left: 220px;
  margin-top: 0px;
  border-radius: 10px;
  padding-top: 15px;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav1:hover .drd{
  display: block;
  color: rgb(0, 0, 0);
  
}
.sidetxt{
  display: none;
  padding-top: 15px;
  margin-left: 10px;
  
}
.aside:hover .sidetxt{
  display: block;
  
}
.drd a{
    font-size: 20px;
    padding-bottom: 10px;
    display: flex;
}

.element{
  padding-right: 5px;
  padding-top: 3px;
}
.listbg{
  display: block;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
}
.listbg :hover{
  background-color: rgb(241, 241, 241);
  font-weight: bold;
}
.crateproduct{
    margin-left: 55px;
    margin-top: 15px;
}
.box1{
  width: 1350px;
  height: 500px;
  margin-top: 30px;
  margin-left: 55px;
}
.boxr{
  width: 800px;
  height: 450px;
  background-color: white;
  margin-left: 35px;
  border-radius: 20px;

}
.boxl h2{
  margin-left: 15px;
  margin-top: 15px;
  color: royalblue;
  display: flex;
  width: 50px;
  text-decoration: underline;

}
.file{
  border: 3px dashed gray;
  margin-top: 125px;
  margin-right: 195px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  padding-top: 20px;
}
.file span{
  color: royalblue;
}
.boxl{
  width: 400px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  margin-left:900px;
  border-radius: 20px;
  display: flex;
  padding-left: 5px;
}
table{
  width:700px;
  height: 0px;
  background-color: beige;
  padding-top: 0px;
  padding-left: 15px;
  display: flex;
  border-spacing: 60px 0;
}
table input{
  background-color: rgb(229, 229, 229);
  width: 300px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid black;
  padding-left: 5px;
  font-size: 15px;
}
table input:hover{
  background-color: royalblue;
  transition: 0.5s;
}
tr{
  height: 55px;
  font-weight: bold;
  
  font-size: 18px;
  
}
button{
  padding-top: 85px;
  width: 25px;
  height: 5px;
  background-color: royalblue;
  display: flex;
}
.Category{
  display: flex;
  flex-direction: column;
}
.submit{
  background-color: royalblue;
  display: flex;
  width: 120px;
  height: 45px;
  padding-left: 30px;
  padding-top: 8px;
  border-radius: 8px;
  margin-top: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
}
.submit:hover{
  border: 2px solid royalblue;
  color: royalblue ;
  background-color: white;
  transition: 0.5s;}
  .un{
    background-color: black;
    height: 3px;
    width: 1350px;
     margin-left: 55px;
  }