* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: rgb(238, 238, 238);
}

.header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.boxsha {
  box-shadow: 0px 1px 5px rgb(160, 160, 160);
}
.headerleft {
  font-size: 35px;
  padding-top: 20px;
  padding-left: 25px;
  display: flex;
  gap: 15px;
}
.headerright {
  font-size: 35px;
  padding-top: 20px;
  padding-right: 25px;
  display: flex;
  gap: 15px;
}
.btn {
  display: block;
  background-color: royalblue;
  padding: 5px 15px 5px 15px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 1px solid white;
  font-weight: bold;
  color: royalblue;
}
.btn:hover {
  background-color: white;
  color: royalblue;
  border: 1px solid royalblue;
  transition: 0.5s;

}
.btb {
  display: block;
  background-color: royalblue;
  padding: 7px 15px 5px 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.btb:hover {
  background-color: white;
  color: rgb(255, 255, 255);
  border: 1px solid royalblue;
  transition: 0.5s;

}
.page{
  color: royalblue;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
}
.header a:hover{
    color: royalblue;
    transition: 0.5s;
}
.header:hover {
  color: royalblue;
  transition: 0.2s;
  font-size: 40px;
  position: relative;
  transition-delay: 1s;
}
.aside{
    width: 90px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ; 
}
.side{
  display: flex;
}

.aside:hover{
    width: 250px;
    height: 650px;
    background-color: rgb(236, 236, 236);
    padding-right: 5px;
}
.fontsize{
    font-size: 65px;
}
.font {
    font-size: 20px;
}
.side {
  padding-top: 10px;
}
.container{
  display: flex;
}
.nav{
    display:flex;
    
}
.nav1 {
    display: flex;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;

}
.nav1:hover{
    box-shadow: 0px 1px 2px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
}
.nav1 :hover{
    color: royalblue;
}
.content{
  width: 50px;
  height: 150px;
  display: flex;
  margin-left: 250px;
}
.menuleft{
  width: 100%;
  height: 220 px;
  display: flex;
  background-color: ;
  margin-left: 20px;
  margin-bottom: 5px;
}
.artical{
  width: 400px;
  height: 90px;
  margin-top: 15px;
  margin-left: 60px;
  background-color: royalblue;
  border-radius: 15px;
  padding-left: 25px;
  padding-top: 10px;
  display: flex;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.saleleft{
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 60px;
  gap: 100px;
}

.saleright{
  color: white;
  font-size: 25px;
  background-color: ;
}
strong{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
.table{
  display: flex;
  gap: 12px;
}
.chartright{
  padding-top: 15px;
  background-color: white;
  width: 70%;
  height: 500px;
  margin-left: 20px;
  padding-left: 50px;
  padding-bottom: 40px;
  border-radius: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.chartleft{
  width: 28%;
  height: 500px;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 5px; 
}

p{
  font-size: 20px;
}
strong{
  color: rgb(255, 255, 255);
}
#myChart{
  background-color: white;
  width: 500px;
}
.chartleft{
  padding-top: 15px;
}
.food{
  background-image: url(../img/food.jpg) ;
  background-size: 400px;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 15px;
  
}
.price{
  color: red;
  font-size: 35px;
  text-decoration: none;
}
.artical:hover{
  background-color: rgb(46, 82, 189);
  transition: 0.5s;
  cursor: pointer;
}
.footer{
  text-align: center;
  background-color: rgb(225, 225, 225);
  font-weight: bold;
  padding: 15px;
  border-radius: 35px 35px 0px 0px;
}


.drd{
  background-color: rgb(255, 255, 255);
  width: 210px;
  height: 260px;
  display: none;
  position:absolute;
  margin-left: 220px;
  margin-top: 0px;
  border-radius: 10px;
  padding-top: 15px;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav1:hover .drd{
  display: block;
  color: white;
  
}
.sidetxt{
  display: none;
  padding-top: 15px;
  margin-left: 10px;
  
}
.aside:hover .sidetxt{
  display: block;
  
}
.drd a{
    font-size: 20px;
    padding-bottom: 10px;
    display: flex;
}

.element{
  padding-right: 5px;
  padding-top: 3px;
}
.listbg{
  display: block;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5px;
}
.listbg :hover{
  background-color: rgb(241, 241, 241);
  font-weight: bold;
}

.tableright{
  width: 500px;
  width: 750px;
  background-color: red;
}
