*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(../img/login-bg.jpg);
     background-repeat: no-repeat;
    background-size: 1700px 1000px;
}
.name{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: royalblue;
    text-decoration: underline;
}
.loginbox{
    background-color: white;
    width: 300px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
    border-radius: 50px;
    border: 5px solid rgb(210, 210, 210);
    
    
}
.pf{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-image: url(../img/profile.jpg);
    background-size: 100px 100px ;
    margin-left: 95px;
    margin-top: 25px;
    
}

.username{
   margin-left: 45px;
    margin-top: 10px;
    
}
.pass p{
    padding-bottom: 2px;
}
.username p{
    padding-bottom: 2px;
}
.pass{
   margin-left: 45px;
    margin-top: 20px;
    font-size: 15px;
    
}
input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid royalblue;
    padding-left: 5px;
}
.forgetps{
    margin-left: 85px;
    display: block;
    margin-top: 15px;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 15px;
    color: royalblue ;
}
.logbtn{
    color: royalblue ;
    border: 2px solid royalblue;
    border-radius: 10px;
    margin-left: 90px;
    padding:5px 30px 5px 30px ;
    text-decoration: none;
    font-weight:bold ;
}
.logbtn:hover{
    background-color: royalblue;
    color: white;
}
.forgetps:hover{
    color: black;
    font-weight: bold;
}
input:hover{
    background-color: royalblue;
}
input:hover::placeholder{
    font-weight: bold;
    color: rgb(255, 255, 255);
}