*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {  
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0px;
            padding: 0px;
            background: url(../../img/login-bg.jpg);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            background: transparent;
            backdrop-filter: blur(6px);
            padding: 40px;
            border-radius: 50px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            width: 300px;
            text-align: center;
        }

        h1 {
            margin-bottom: 30px;
            color: white
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #f8efef;
            box-sizing: border-box;
            border-radius: 5px;
        }

        .forgot-password {
            display: block;
            margin: 10px;
            color: white;
        }

        button {
            width: 100%;
            padding: 10px;
            background: #007bff;
            color: white;
            margin-top: 10px;
        }

        button {
            background: #0056b3;
        }
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        .login{
            display: flex;
            padding: 10px 40px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 10px;
            margin-top: 15px;
            justify-content: center;
        }
        .login:hover{
            color: white;
            font-weight: bold;
            background-color: #0056b3;
            transition: 0.5s ease-in-out;
        }
       input[type=text] {
     width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-image: url('../img/user.png');
    background-size: 15px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
       input[type=password] {
     width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-image: url('../img/padlock.png');
    background-size: 15px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-color: ;
}