 body {
     font-family: sans-serif;
     margin: 0;
     background-color: rgb(228, 228, 228);
 }

 .header {
     background-color: #fff;
     display: flex;
     align-items: center;
     padding-bottom: 1px;
     border-bottom: 1px solid #ddd;
     border-radius: 0px 0px 15px 15px;
     box-shadow: 1px 5px 1px rgba(0, 0, 0, 0.1);
     height: 80px;
     padding: 5px;
 }

 .blank {
     padding-left: 80%;
 }

 .dashboard {
     font-size: 15px;
     color: white;
     font-weight: bold;
     
     text-decoration: none;
     margin-right: 15px;
     border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     padding: 10px 15px;
     background-color: royalblue;
 }
 .dashboard:hover{
    background-color: white;
    color: royalblue;
    border: 1px solid royalblue;
    transition: 0.5s;
 }

 .user {
     font-size: 24px;
     color: #333;
     text-decoration: none;
 }
 .user:hover{
    color: royalblue;
    transition: 0.5s;
 }

 .content {
     flex-grow: 1;
     padding: 1px;

 }

 .table {
     row-gap: 10px;
     width: 95%;
     border-collapse: collapse;
     margin-left: 20px;
     margin-top: 10px;
 }

 .table th,
 .table td {
     padding: 8px;
     text-align: left;
 }

 .hat {
     background-color: royalblue;
     color: white;
 }

 .total {
     margin-top: 150px;
     background-color: royalblue;
     color: white;
     margin-left: 20px;
     width: 95%;
     height: 55px;
     text-align: center;
     padding-top: 1px;
 }

 .right,
 .left {
     width: 48%;
     height: 600px;
     display: inline-block;
     vertical-align: top;

 }

 .right {
     background-color: rgb(255, 255, 255);
     height: 700px;
     margin-left: 10px;
 }

 .left {
     background-color: rgb(255, 255, 255);
     height: 700px;
     margin-left: 20px;
     text-align: center;

 }

 .list {
     display: flex;
     text-decoration: none;
     font-size: 20px;
     color: blue;
     border: blue solid 2px;
     border-radius: 10px;
     padding: px;
     margin-top: 10px;
     height: 30px;
     margin-left: 20px;
     border-radius: 5px;
     width: 650px;

 }

 .txt {
     border: royalblue solid 2px;
     background-color: rgb(255, 255, 255);
     height: 30px;
     margin-left: 50px;
     width: 600px;
     border-radius: 5px;
     padding: 5px;
    display: flex;
    align-items: center;
 }
 .txt:hover{
    background-color: royalblue;
        color: white;
        transition: 0.5s
 }

 .photo {
     text-align: center;
 }

 .pt {
     display: inline-block;
     width: 150px;
     background: white;
     border-radius: 10px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
     padding: 10px;
     margin: 20px;
     vertical-align: top;
     height: 200px;
     margin-top: 5px;
     transition: transform 0.2s;
 }

 .pt:hover {
     transform: translateY(-5px);
     background-color: royalblue;
     color: white;
     transition: 0.2s ; 
 }

 .pt:hover .price {
     color: rgb(255, 255, 255);
 }

 .pt img {
     width: 100%;
     height: 120px;
     object-fit: cover;
     border-radius: 10px;
 }

 .pt h3 {
     margin-top: 10ox;
 }

 .price {
     color: red;
     font-weight: bold;
 }

 .buttom {
     margin-top: 15px;
 }

 .nm {
     display: inline-flex;
     border: none;
     background-color: white;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     margin: 5px;
     font-weight: bold;
     cursor: pointer;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 }

 .nm.one {
     background-color: #b92a2a;
     color: white;
 }

 .nm.two {
     background-color: #e16868;
     color: white;

 }

 .button {
     margin-top: 10px;
 }

 .checkout {
     row-gap: 1000px;
     width: 95%;
     border-collapse: collapse;
     margin-left: 10px;
     margin-top: 10px;
 }

 .tax {
     background-color: rgb(215, 215, 215);
     border-left: 1px solid #ccc;
     padding: 8px 10px;
     font-size: 11px;
     color: #030303;
 }

 .icon {
     display: inline;
     align-items: center;
     justify-content: center;
     gap: 8px;
     padding: 10px 25px;
     border: none;
     border-radius: 25px;
     color: white;
     font-size: 16px;
     cursor: pointer;
     font-weight: bold;
     margin-left: 0px;
     margin-top: 20px;
     margin-right: 15px;
 }
 .red{
    color: rgb(255, 255, 255);
    background-color: red;
 }
 .red:hover{
    color: red;
    border:1px solid red ;
    background-color: white;
    transition: 0.2s;
 }
 .green{
    color: rgb(0, 0, 0);
    background-color: #2EFF2E;
 }
 .green:hover{
    color: #2EFF2E;
    border:1px solid #2EFF2E ;
    background-color: white;
    transition: 0.2s;
 }
 .yellow{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
 }
 .yellow:hover{
    color: rgb(255, 217, 0);
    border:1px solid rgb(255, 217, 0);
    background-color: white;
    transition: 0.2s;
 }

 .open-btn {
     padding: 12px 25px;
     width: 650px;
     font-size: 16px;
     font-weight: bold;
     background-color: #ffffff;
     color: royalblue;
     border: royalblue solid 3px;
     border-radius: 8px;
     cursor: pointer;
 }
 .open-btn:hover{
        background-color: royalblue;
        color: white;
        transition: 0.5s;
 }
 .sidebar {
     position: fixed;
     top: 0;
     right: -400px;
     width: 320px;
     height: 100%;
     background: #fff;
     box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
     padding: 20px;
     transition: right 0.4s ease;/*side jenh mk smooth not pop up*/
     overflow-y: auto;
      z-index: 1000;/*kom oy pel rub krav lot jol knong sidebar */
 }

 .sidebar.active {
     right: 0;
 }

 .sidebar-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 25px;
     
 }

 .sidebar-header h2 {
     margin: 0;
 }

 .close-btn {
     font-size: 30px;
     cursor: pointer;
 }

 .side-list {
     display: flex;
     flex-wrap: wrap;
     gap: 15px;
     justify-content: center;
 }

 .side-item {
     width: 130px;
     height: 200px;
     border-radius: 15px;
     box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.1);
     text-align: center;
     padding: 10px;
     cursor: pointer;
     font-weight: bold;
     background-color: white;
 }


 .side-item .icon {
     font-size: 70px;
     display: block;
     margin-bottom: 8px;

 }

 .layer .icon {
     color: green;
 }

 .burger .icon {
     color: red;
 }

 .beer .icon {
     color: orange;
 }

 .water .icon {
     color: blue;
 }
